<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.supabase.user-management</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.331920877049-n4hluktr5orpdc1thr1oie7u55n5aof9</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>331920877049-n4hluktr5orpdc1thr1oie7u55n5aof9.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Tagesschrift-Regular.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>BricolageGrotesque_24pt-Regular.ttf</string>
		<string>Lexend-VariableFont_wght.ttf</string>
		<string>PoetsenOne-Regular.ttf</string>
	</array>
</dict>
</plist>
